@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 215 28% 11%;
    --card: 0 0% 100%;
    --card-foreground: 215 28% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 28% 11%;
    --primary: 217 91% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 40% 96%;
    --secondary-foreground: 215 28% 11%;
    --muted: 210 40% 98%;
    --muted-foreground: 215 16% 47%;
    --accent: 214 100% 97%;
    --accent-foreground: 220 78% 40%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 217 91% 60%;
    --radius: 0.75rem;
  }

  .dark:root {
    --background: 215 28% 11%;
    --foreground: 210 40% 98%;
    --card: 217 33% 17%;
    --card-foreground: 210 40% 98%;
    --popover: 217 33% 17%;
    --popover-foreground: 210 40% 98%;
    --primary: 217 91% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 213 55% 25%;
    --accent-foreground: 213 87% 78%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;
    --border: 217 33% 26%;
    --input: 217 33% 26%;
    --ring: 217 91% 60%;
  }
}
